header {
  color: #ffffff;
  background-color: #313132;
  height: 44px;
}

header img {
  height: 32px;
  padding-top: 6px;
}

header a {
  color: #d6d6d6;
  text-decoration: none;
}

header ul {
  text-align: center;
  list-style: none;
}

@media (max-width: 833px) { 
  header img {
    padding-left: 48%;
    padding-right: 48%;
    visibility: visible;
  }

  header ul a {
    visibility: hidden;
  }
}