/* Header settings */
header {
  background-color: #313132;
  opacity: 0.99;
  height: 44px;
  width: 100%;
  position: fixed;
}

/* Logo settings */
header img {
  height: 32px;
  padding-top: 6px;
}

/* Nav settings */
header nav {
  text-align: center;
  list-style: none;
  height: 44px;
}

/* Individual item properties */
header nav a {
  color: #d6d6d6;
  text-decoration: none;
  padding: 0px 8px;
  font-size: 14px;
}

/* Mobile Compatability */
@media (max-width: 833px) { 
  header img {
    padding-left: 48%;
    padding-right: 48%;
    visibility: visible;
  }

  header nav a {
    visibility: hidden;
  }
}