/* Global settings */
* {
  margin: 0;
  padding: 0;
}
/* Font setup */
@font-face {
  font-family: 'sf-pro';
  src: url(Fonts/SFPRODISPLAYREGULAR.OTF)
  format('opentype');
}

@font-face {
  font-family: 'sf-pro-bold';
  src: url(Fonts/SFPRODISPLAYBOLD.OTF)
  format('opentype');
}

@font-face {
  font-family: 'sf-pro-light';
  src: url(Fonts/SFPRODISPLAYLIGHT.OTF)
  format('opentype');
}

@font-face {
  font-family: 'sf-pro-ultra-light';
  src: url(Fonts/SFPRODISPLAYULTRALIGHT.OTF)
  format('opentype');
}

/* Font assignment */
a {
  font-family: 'sf-pro-light';
}

h1 {
  font-family: "sf-pro";
}

h2 {
  font-family: "sf-pro";
  font-size: 50px;
}

h3 {
  font-family: "sf-pro-light";
  font-weight: 500;
  font-size: 25px;
}